:root {
    --color-dark: #dd13fc; 
    --color-light: #fdbdff;
    --color-mid: #fde3fd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
}

h1 {
    color: var(--color-dark);
}
.wrapper {
    padding: 20px
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.order-container {
    /* display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 0; */
    display: table;
    border: 3px solid var(--color-dark);
    

}

.ingredients-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.border {
    border: 3px solid var(--color-dark);    
}

.mid-heading {
    color: var(--color-dark);
    text-align: center;
    /* border: 3px solid var(--color-dark); */
    flex: 1 1 30%;
}

.ingredient-box {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--color-dark);
    padding: 10px;
}

.logo {
    width: 50px;
}

.base-img { 
    width: 200px;
}

.ingredient-img {
    width: 60px;
}

.ingredient-name {
    color: var(--color-dark);
}

